<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.pj.sys.dao.SysRoleDao">

    <resultMap id="sysRoleMenuVo" type="com.cy.pj.sys.entity.SysRole">
        <id column="id" property="id"/>
        <!--        一对多关联查询或嵌套查询 -->
        <collection property="menuIds" column="id" select="com.cy.pj.sys.dao.SysRoleMenuDao.findObjectsByRoleId">
        </collection>
    </resultMap>

    <sql id="queryWhereId">
        <where>
            <if test="name!=null and name != ''">
                name like concat("%", #{name}, "%")
            </if>
        </where>
    </sql>
    <insert id="insertObject" useGeneratedKeys="true" keyProperty="id">
        insert into sys_roles(name, note, createdTime, modifiedTime, createdUser, modifiedUser)
        values (#{name}, #{note}, now(), now(), #{createdUser}, #{modifiedUser})
    </insert>
    <update id="updateObject">
        update sys_roles
        <set>
            <if test="name!=null and name != ''">name=#{name},</if>
            <if test="note!=null">note=#{note},</if>
            <if test="modifiedUser!=null">modifiedUser=#{modifiedUser},modifiedTime = now()</if>
        </set>
        where id = #{id}
    </update>

    <select id="getRowCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_roles
        <include refid="queryWhereId"/>
    </select>
    <select id="findObjects" resultType="com.cy.pj.sys.entity.SysRole">
        SELECT id, name, note, createdTime, modifiedTime, createdUser, modifiedUser
        FROM sys_roles
        <include refid="queryWhereId"/>
        LIMIT #{startIndex},#{pageSize}
    </select>
    <select id="getObjectById" resultMap="sysRoleMenuVo">
        select id, name, note
        from sys_roles
        where id = #{id}
    </select>
</mapper>