<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.pj.sys.dao.SysUserDao">

    <resultMap id="user_dept_map" type="com.cy.pj.sys.entity.SysUser">
        <id column="id" property="id"/>
        <result column="createdTime" property="createdTime"/>
        <result column="modifiedTime" property="modifiedTime"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="valid" property="valid"/>
        <association property="sysDept" javaType="com.cy.pj.sys.entity.SysDept">
            <id column="deptId" property="id"/>
            <result column="deptName" property="name"/>
        </association>
    </resultMap>
    <resultMap id="user_role_map" type="com.cy.pj.sys.entity.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result property="email" column="email"/>
        <result property="mobile" column="mobile"/>
        <association column="deptId" property="sysDept" javaType="com.cy.pj.sys.entity.SysDept">
            <id column="deptId" property="id"/>
            <result column="deptName" property="name"/>
        </association>
        <collection property="roleIds" ofType="int">
            <id column="role_id"/>
        </collection>
    </resultMap>

    <insert id="insertObject" useGeneratedKeys="true" keyProperty="id" flushCache="true">
        INSERT INTO sys_users(id, username, password, salt, email, mobile, valid, deptId, createdTime, modifiedTime,
                              createdUser, modifiedUser)
        VALUES (null, #{username}, #{password}, #{salt}, #{email}, #{mobile}, #{valid}, #{deptId}, now(), now(),
                #{createdUser}, #{modifiedUser})
    </insert>

    <update id="updateObject" flushCache="true">
        update sys_users
        <set>
            <if test="username!=null and username != ''">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="salt!=null">salt=#{salt},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="deptId!=null">deptId=#{deptId},</if>
            <if test="modifiedUser!=null">modifiedUser=#{modifiedUser},modifiedTime = now()</if>
        </set>
        where id = #{id}
    </update>

    <select id="findPageObjects" resultMap="user_dept_map">
        SELECT u.id, u.username, u.password, u.salt, u.email, u.mobile, u.valid, u.deptId, u.createdTime,
        u.modifiedTime, u.createdUser, u.modifiedUser, d.name deptName
        from sys_users u
        left join sys_depts d on u.deptId = d.id
        <where>
            <if test="key!=null and key != ''">
                username like concat("%",#{key},"%")
            </if>
        </where>
        ORDER BY createdTime LIMIT #{startIndex},#{pageSize}
    </select>

    <select id="findUserRoleById" resultMap="user_role_map">
        SELECT u.id, u.username, u.email, u.mobile, u.deptId, d.name deptName, r.role_id
        FROM sys_users u
                 left join sys_depts d on u.deptId = d.id
                 left join sys_user_roles r on u.id = r.user_id
        WHERE u.id = #{id}
    </select>

</mapper>